name: 50 - Conventional Commit Lint

on:
  workflow_run:
    workflows: ["20 - PDK"]
    types:
      - completed

jobs:
  commitlint:
    name: Commitlint
    runs-on: ubuntu-latest
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'pull_request'
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Lint commits with commitlint
        uses: wagoid/commitlint-github-action@v5
